WEBAPI_HTTP_PORT=8080
WEBAPI_HTTPS_PORT=8081

POSTGRES_HOST=ambev.developerevaluation.database
POSTGRES_PORT=5432
POSTGRES_DB=developer_evaluation
POSTGRES_USER=developer
POSTGRES_PASSWORD=change_this_postgres_password

MONGO_HOST=ambev.developerevaluation.nosql
MONGO_PORT=27017
MONGO_DATABASE=DeveloperEvaluation
MONGO_USER=developer
MONGO_PASSWORD=change_this_mongo_password
MONGO_PASSWORD_ENCODED=change_this_mongo_password
MONGO_SALES_HISTORY_COLLECTION=sales_history

REDIS_PORT=6379
REDIS_PASSWORD=change_this_redis_password
